{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Edit User {{ user_id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('user_edit.edit_user2', user_id = user_id) }} "method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ request.form['username'] }}" required>
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ request.form['email'] }}">
    <label for="firstname">First Name:</label>
    <input name="firstname" id="firstname" value="{{ request.form['firstname'] }}">
    <label for="lastname">Last Name:</label>
    <input name="lastname" id="lastname" value="{{ request.form['lastname'] }}">
    <input type="submit" value="Submit">
  </form>
{% endblock %}