{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="post2">
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="firstname">First Name</label>
    <input name="firstname" id="firstname">
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname">
    <label for="email">E-Mail Address</label>
    <input name="email" id="email">
    <input type="submit" value="Register">
  </form>
</section>
{% endblock %}