{% extends "layout.html" %}
{% block body %}
        <ul class=items>
                <li><h2>Dashboard</h2>
                <li><b>Landing Page</b>
                <li><em>Welcome to the dashboard!</em>
                </br>
                <li><em>New Stuff</em>
                </br>
                <a href="{{ url_for('mediaserver_addFiles') }}">Upload a File</a>
                </br>
                <a href="{{ url_for('mediaserver_file_list') }}">View Files</a>
                </br>
                <a href="{{ url_for('mediaserver_settings') }}">Settings</a>
                </br>
                </br>
        </ul>
{% endblock %}