{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contact Us{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="post">
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ request.form['email'] }}" required>
    <label for="subject">Subject</label>
    <input name="subject" id="subject" value="{{ request.form['subject'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Submit">
  </form>
</section>
{% endblock %}