{% extends "base.html" %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}
{% block content %}
<b>Landing Page</b>
<em>Welcome to OpenHouseParty!</em>
</br>
Create Your
Dream Home!
</br>
<img alt="Home Kit" src="static\home_party_house_kit.png" width="632" height="197">
</br>
Empowering people to create their dream home with the OpenHouseParty! kit.
</br>
</br>
MORE ABOUT OUR WORKSHOP
</br>
</br>
HouseParty! is the home owner's starter kit for an evolving selection of cool toys and
mods to be implemented in your own home. Our selection is affordable, appropriate, and awesome!
</br>
</br>
We believe that your home should reflect your own personal style.
Each corner of your life should be eye-catching and unique, just like you.
Charles Murillo is at your service to create a home owning experience that
you may create with your family. He is dedicated to helping clients discover their
own design personality utilizing appropriate technology. Browse through our
wide selection today to find just what you have been searching for.
</br>
</br>
</br>
</br>
{% endblock %}