{% extends "base.html" %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}
{% block content %}
<p2>
  Create Your Dream Home!
</p2>
  </br>
<p3>
  Empowering people to create their dream home with the OpenHouseParty! kit.
</p3>
  </br>

<div class="homeX">
  <div class="homeX2">

  <!-- <b>Landing Page</b> -->
  </br>
  <!--<em>Welcome to OpenHouseParty!</em> -->
  </br>

  </br>
  <!-- <img alt="Home Kit" src="static\home_party_house_kit.png" width="948" height="295" class="center"> -->
  </br>
  </br>
  <!-- <img alt="Sample House 1" src="static\home_sampleHouse1.png" width="806" height="546" class="center"> -->
  </br>
  </br>
  </div>

  <div class="mainX">
    <div class="main_left">
      <!-- original width=582 height=632 -->
      <img alt="Winter Trees" src="\static\winter_trees.png" width="523" height="568">
    </div>
    <div class="main_left2">
      <div class="fontSizeX">
        <b>More About Our Workshop</b>
      </div>
      </br>
      </br>
      HouseParty! is the home owner's starter kit for an evolving selection of cool toys and
      mods to be implemented in your own home. Our selection is affordable, appropriate, and awesome!
      </br>
      </br>
      We believe that your home should reflect your own personal style.
      Each corner of your life should be eye-catching and unique, just like you.
      Charles Murillo is at your service to create a home owning experience that
      you may create with your family. He is dedicated to helping clients discover their
      own design personality utilizing appropriate technology. Browse through our
      wide selection today to find just what you have been searching for.
    </div>
    <div class="main_left3">
      <!-- original width=574 height=634 -->
      <img alt="Sample House 2" src="\static\home_sampleHouse2.png" width="459" height="507">
    </div>
  </div>
  <!--
  <div class="mainX">
    <div class="main_left">
      <img alt="Winter Trees" src="\static\winter_trees.png" width="582" height="632" class="main_left">
    </div>
    <div id="text">
      HouseParty! is the home owner's starter kit for an evolving selection of cool toys and
      mods to be implemented in your own home. Our selection is affordable, appropriate, and awesome!
    </div>
    <div class="main_right">
      <img alt="Sample House 2" src="\static\home_sampleHouse2.png" width="574" height="634" class="main_right">
    </div>
  </div>
  -->
  </br>

  </br>
  </br>
  </br>
  </br>
</div>
{% endblock %}