{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Support Us{% endblock %}</h1>
{% endblock %}


{% block content %}
</br>
<a href="https://www.zeffy.com/en-US/donation-form/de62eec4-06b7-4a3f-b2f4-25edfce0ad70">Donate via Zeffy</a>
</br>
Donations help fund Open House Party operations!
Here are some things your donation supports:
</br>
>$10 finances logging data for the month
</br>
>$75 pays for monthly server maintenance
</br>
>$200 pays for a polished YouTube episode
</br>
>$700 pays for part of a marketing contract
</br>
>$900 covers about a 1 margin laser cut doghouse
</br>
>$1500 pays for a few months of solid marketing and engagement
</br>
</br>
</br>
<a href="https://youtube.com/channel/UCD1uS5BGUauOoQKWM9WqlEQ">Open House Party Youtube Channel</a>
</br>
</br>
<a href="https://www.openhouseparty.online">Open House Party Wix Site</a>





{% endblock %}
